<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Vista Home</h1>

    <table>
        <tr>
            <th>
                Estudiantes
            </th>
        </tr>
        {% for estudiante in Estudiante %}
            <tr>
                <td> {{estudiante.nombre}} </td>
                <td> {{estudiante.apellido}} </td>
                <td> {{estudiante.email}} </td>
            </tr>
        {% endfor %}

    </table>
</body>
</html>